[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-override-storage = "*"
factory-boy = "*"
flake8 = "*"
flake8-import-order = "*"
freezegun = "*"
ipdb = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-sugar = "*"
watchdog = "*"


[packages]
'celery[redis]' = "*"
boto3 = "*"
deepdiff = "*"
dj-database-url = "*"
Django = ">=2.2.4"
django-compressor = "*"
django-environ = "*"
django-extensions = "*"
django-sass-processor = "*"
django-staff-sso-client =  "*"
django-storages = "*"
django-webpack-loader = "*"
djangorestframework = "*"
docxcompose = "*"
ipython = "*"
json_log_formatter='*'
libsass = "*"
markdown = "*"
psycopg2 = "*"
psycopg2-binary = "*"
python-dateutil = "*"
python-docx = "*"
waitress = "*"
werkzeug = "*"
whitenoise = "*"

[requires]
python_version = "3.7"